body {
    background: #009432;
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #009432;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    background: #F79F1F;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    background-color: #EA2027;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #009432;
    background-color: #009432;
}
.navbar-inverse {
    background-color: #009432;
}

element.style {
}

.navbar-inverse .navbar-nav > li > a {
    /* color: #9d9d9d; */
    color: #1B1464;
    font-size: 15px;
    font-weight: bold;
}
.navbar-inverse .navbar-brand {
    color: #9980FA;
    text-transform: uppercase;
    font-weight: 700;
}